<h2 *ngIf="!isAvailEndVote">Vote result</h2>
<h2 *ngIf="isAvailEndVote">Manage vote</h2>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title style="color : #3f51b5">{{poll?.name}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <section class="example-section">
      <div class="vote-content">
        content : {{poll?.content}} ?
        <br>
        <br>
        <div style="font-weight: normal;">
          Open : {{startTime| date : 'yyyy-MM-dd HH:mm:ss'}}
        </div>
        <div *ngIf="isManualEnd" style="font-weight: normal;">
          Close : Manual
        </div>
        <div *ngIf="!isManualEnd" style="font-weight: normal;">
          Close : {{endTime| date : 'yyyy-MM-dd HH:mm:ss'}}
        </div>
      </div>


      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.index}}</td>
        </ng-container>

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef>Content</th>
          <td mat-cell *matCellDef="let element">{{element.content}}</td>
        </ng-container>

        <ng-container matColumnDef="numVote">
          <th mat-header-cell *matHeaderCellDef>NumVote</th>
          <td mat-cell *matCellDef="let element">{{element.numVote}}</td>
        </ng-container>

        <ng-container matColumnDef="percent">
          <th mat-header-cell *matHeaderCellDef>Percent</th>
          <td mat-cell *matCellDef="let element">{{element.percent | percent}}</td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>

    <mat-card-actions align="center" style="padding-top: 30px;">
      <button [routerLink]="['']" style="margin-right: 20px;" mat-raised-button color="primary">
        Back
      </button>
      <button *ngIf="isAvailEndVote" (click)="CloseVote()" mat-raised-button color="accent">
        Close Vote
      </button>
    </mat-card-actions>
  </mat-card-content>

</mat-card>