.example-section {
    display: grid;
    align-content: center;
    align-items: center;
  }
  .demo-table {
    width: 100%;
  }
  .vote-content 
  {
    padding : 10px 15px 20px 30px;
    font-weight: bold;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }