:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 500px;
}
mat-form-field{
    width :500px;
}