<h2 *ngIf="!isCreateAns"> Create New Vote</h2>
<div *ngIf="!isCreateAns" class="container" align="center">
    <mat-form-field appearance="fill">
        <mat-label>Name vote</mat-label>
        <input matInput [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter question</mat-label>
        <input matInput [(ngModel)]="content">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="type">
            <mat-option value="0">Public</mat-option>
            <mat-option value="1">Private</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>close</mat-label>
        <mat-select [(ngModel)]="timeDeadline">
            <mat-option value="0">Manual</mat-option>
            <mat-option value="1">1 Hours</mat-option>
            <mat-option value="2">2 Hours</mat-option>
            <mat-option value="12">12 Hours</mat-option>
            <mat-option value="24">1 days</mat-option>
        </mat-select>
    </mat-form-field>
    <div align="center" style="width: 100%;">
        <button mat-raised-button color="primary" (click)="createPoll()">
            Create
        </button>
    </div>
</div>
<h2 *ngIf="isCreateAns"> Create New Vote / Create Answer</h2>
<div *ngIf="isCreateAns" class="container" align="center">
    <mat-form-field *ngFor="let item of dataSource; let i = index" class="example-form-field" appearance="fill">
        <mat-label>Add answer {{i}}</mat-label>
        <input matInput type="text" [(ngModel)]="item.content">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="deleteAnswer(i)">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button (click)="addAnswer()" align="center" style="width: 100%;margin-bottom: 50px;">
        Add answer
    </button>
    <div align="center" style="width: 100%;">
        <button style="margin-right: 20px;" mat-raised-button color="primary" (click)="createAnswer()">
            Create answer
        </button>
        <button mat-raised-button color="accent" (click)="doneCreateVote()">
            Done Create Vote
        </button>
    </div>
</div>