.example-section {
    display: grid;
    align-content: center;
    align-items: center;
    padding-left: 30px;
  }
  .vote-content 
  {
    padding : 10px 15px 20px 30px;
    font-weight: bold;
  }