<h2>Voting</h2>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title style="color : #3f51b5">{{poll?.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="vote-content">
            content : {{poll?.content}} ?
            <br>
            <br>
            <div style="font-weight: normal;">
                Open : {{startTime| date : 'yyyy-MM-dd HH:mm:ss'}}
            </div>
            <div *ngIf="isManualEnd" style="font-weight: normal;">
                Close : Manual
            </div>
            <div *ngIf="!isManualEnd" style="font-weight: normal;">
                Close : {{endTime| date : 'yyyy-MM-dd HH:mm:ss'}}
            </div>
        </div>

        <section class="example-section">
            <mat-list-item *ngFor="let item of answers">
                <mat-checkbox [(ngModel)]="item.checked" (change)="list_change(item.index)">{{ item.content }}
                </mat-checkbox>
            </mat-list-item>
        </section>

        <mat-card-actions align="center">
            <button [routerLink]="['']" mat-raised-button color="primary">
                Back
            </button>
            <button [disabled]="!isVoted" (click)="VotingAnswer()" mat-raised-button color="accent">
                Vote
            </button>
        </mat-card-actions>
    </mat-card-content>

</mat-card>