<mat-toolbar color="primary">
    <button [routerLink]="['']" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </button>
    <span [routerLink]="['']">My Vote My Choice</span>
    <span class="example-spacer"></span>
    <div>
        My account :{{accounts}}
    </div>
    
</mat-toolbar>
<router-outlet></router-outlet>
