<h2 mat-dialog-title>Create new vote</h2>

<mat-dialog-content>
<p> Vote id : {{data.pollId}} </p>
<p> Vote name : {{data.name}} </p>
<p> Vote content : {{data.content}} </p>

<p>Note : you can send vote id to user to vote </p>
</mat-dialog-content>

<mat-dialog-actions>
    <div align = "center" style="width: 100%;">
        <button fxFlex class="mat-raised-button" (click)="close()">Close</button>
    </div>
    
</mat-dialog-actions>