table {
    width: 100%;
  }

.example-card {
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;
    margin: 0 auto;
  }
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
button {
    justify-content: center;
}
.center
{
    margin: 0 auto;
   display: flex;
}
img {
    height: 40px;
    width: 40px;
    justify-content: center;
}

::ng-deep .mat-card {
  background-color: #FAFAFA;
}