<h2>
    Join or create a vote
</h2>
<mat-grid-list [cols]="breakpoint">
    <mat-grid-tile>
        <mat-card class="example-card">
            <img class="center" src="../../assets/vote.png" alt="Create a vote">
            <mat-card-content>
                <p style="margin-top: 20px;" align="center">Bring everyone to vote</p>
            </mat-card-content>
            <mat-card-actions align="center" style="margin-top: 100px;">
                <button mat-raised-button color="primary" (click)="clickCreateVote()">
                    <mat-icon>add_circle_outline</mat-icon>
                    Create vote
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <img class="center" src="../../assets/join.png" alt="Create a vote">
            <mat-card-content>
                <p style="margin-top: 20px;" align="center">Join a vote with a code</p>
                <mat-form-field class="example-full-width" style="margin-left: 30px;" appearance="fill">
                    <mat-label>Enter code</mat-label>
                    <input matInput [(ngModel)]="value">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" (click)="clickJoinVoteById(value)">
                    <mat-icon>thumb_up</mat-icon> Join vote
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<h2>
    Manage my vote
</h2>
<mat-grid-list [cols]="breakpoint">
    <mat-grid-tile *ngFor="let item of myVoting">
        <mat-card class="example-card">
            <img class="center" src="../../assets/public.png" alt="Create a vote">
            <mat-card-content>
                <h2 align="center" style="padding-top: 10px;">{{item.name}}</h2>
                <p align="left">{{item.content}}</p>
                <p align="left">Number Vote: {{item.voteCount}}</p>
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary"  [routerLink]="['/manage-vote', item.pollId]">
                     Manage vote
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<h2>
    Join public vote
</h2>
<mat-grid-list [cols]="breakpoint">
    <mat-grid-tile *ngFor="let item of votingsPublic">
        <mat-card class="example-card">
            <img class="center" src="../../assets/public.png" alt="Create a vote">
            <mat-card-content>
                <h2 align="center" style="padding-top: 10px;">{{item.name}}</h2>
                <p align="left">{{item.content}}</p>
                <p align="left">Number Vote: {{item.voteCount}}</p>
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary"  [routerLink]="['/voting', item.pollId]">
                     Join vote
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<h2>
    View public vote result
</h2>
<mat-grid-list [cols]="breakpoint">
    <mat-grid-tile *ngFor="let item of resultPublic">
        <mat-card class="example-card">
            <img class="center" src="../../assets/view-details.png" alt="Create a vote">
            <mat-card-content>
                <h2 align="center" style="padding-top: 10px;">{{item.name}}</h2>
                <p align="left">{{item.content}}</p>
                <p align="left">Number Vote: {{item.voteCount}}</p>
            </mat-card-content>
            <mat-card-actions align="center" [routerLink]="['/vote-result', item.pollId]">
                <button mat-raised-button color="primary">
                    View result
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
